.sidebar>.sidebar-ul {
    &>.sidebar-li {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: rgba(0, 7, 143, 0.8);
        }
    }

    &>.sidebar-li.chosen {
        background-color: rgba(227, 228, 255, 0.8);
        color: rgba(0, 7, 143, 1);


    }

}