.scroll-container {
    .nav-option-item {
        display: flex;
        padding: 10px;
        cursor: pointer;
        gap: 10px;
        align-items: center;


        >.status-part {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transition: all 0.3s ease;

            &.offline {
                background-color: red;
            }

            &.online {
                background-color: rgb(0, 217, 0);
            }
        }
    }

    .options-list {
        background: rgb(0, 71, 70);

        & .nav-option-item {
            cursor: pointer;

            &:not(.active):hover {
                background-color: #2c3b7c;
            }

            &.active {
                background-color: rgba(25, 20, 119, 1);
            }
        }

    }
}

.elking {
    --os-size: 15px;
    --os-handle-bg: #8888882b;
    --os-track-bg: #3636366b;
}